[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "msaR"]
	path = msaR
	url = https://github.com/zachcp/msar
	shallow = true
	registered = true
[submodule "phylocanvas"]
	path = phylocanvas
	url = https://github.com/zachcp/phylocanvas
	shallow = true
	registered = true
[submodule "rcdk"]
	path = rcdk
	url = https://github.com/cran/rcdk
	shallow = true
	registered = true
[submodule "rcdklibs"]
	path = rcdklibs
	url = https://github.com/cran/rcdklibs
	shallow = true
	registered = true
