[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "msaR"]
	path = msaR
	url = https://github.com/zachcp/msar
[submodule "phylocanvas"]
	path = phylocanvas
	url = https://github.com/zachcp/phylocanvas
